body{
    width: 100vw;
    height: 100vh;
    background: url(./images/0a2b255daa755f06dc3d1c55ff47402b.jpg);
    background-size: cover;
    backdrop-filter: blur(8px);
    position: relative;
   
}

.heading{
    font-family: "Lucida Handwriting", "Courier New", monospace;
}

.heading:hover{
    transform: scale(1.1); 

}

.started:hover{
    transform: scale(1.1);
    color: blue;
}

.nav-link>:hover{
    transform: scale(1.1);
}

.neon-text {
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 20px blue, 0 0 40px blue, 0 0 80px white;
    /* animation: glow 1.5s infinite alternate; */
}

.neon-text1{
    font-size: 4rem;
    color: #fff;
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white, 0 0 40px white, 0 0 80px white;
}

.neon-text2{
    font-size: 4rem;
    color: grey;
    text-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 20px grey, 0 0 40px grey, 0 0 80px grey;
}
