
.profile-img{
    width: 20%;
    height: 200px;
}

.profile-img>img{
    width: 100%;
    height: 200px;
}

.body-card{
    width: 100vw;
    height: 100vh;
    background-color: rgb(14, 14, 52);
}

.container-body{
    width: 100%;
    height: 800px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.text-style{
    width: 50%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    
}

.button{
    position:absolute;
    top: 55%;
}

